.slider__item {
  max-width: 100%;
  height: 650px;
  display: flex;
  justify-content: flex-end;
  background: url("../assets/all-images/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
}

.slider__content {
  padding-top: 80px;
}

.slider__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
.slider__content h4 {
  font-size: 2.3rem;
  font-weight: 400;
}
.hero-content {
  position: absolute;
  left: 450px;
  text-align: center;
}
.parallelogram {
  width: 436px;
  height: 650px;
  position: absolute;
  left: 390px;
  top: -1px;
  transform: skew(20deg);
  background-color: #039595c5;
  z-index: 0;
  text-align: center;
}
.image1 {
  position: absolute;
  right: 60px;
  top: 100px;
  width: 40%;
  height: 50%;
  z-index: 0;
  animation: move 3s ease-in-out;
}

.image2 {
  position: absolute;
  left: 100px;
  top: 270px;
  width: 30%;
  height: 35%;
  z-index: 1;
  animation: moving 3s ease-in-out;
}
.reserve__btn {
  background: #fff !important;
  color: #039594 !important;
  border: none;
  outline: none;
}

.reserve__btn a {
  text-decoration: none;
  font-weight: 600;
  color: #039594;
}

.reserve__btn:hover {
  background: #039594;
  color: #fff;
}

@keyframes move {
  from {
    right: -450px;
  }
  to {
    right: 60px;
  }
}
@keyframes moving {
  from {
    left: -400px;
  }
  to {
    left: 70px;
  }
}

@media only screen and (max-width: 992px) {
  .slider__item {
    height: 530px;
    max-width: 100vw;
  }

  .slider__content {
    margin-top: -50px;
  }

  .slider__content h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider__item {
    height: 450px;
  }

  .slider__content h1 {
    font-size: 1.5rem;
  }
}
