.slider__item {
  max-width: 100%;
  height: 650px;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(rgb(255, 255, 255), #47e4e4), url("../assets/all-images/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
}

.slider__content {
  padding-top: 80px;
}

.slider__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
.slider__content h4 {
  font-size: 2.3rem;
  font-weight: 400;
}
.hero-content {
  position: absolute;
  left: 450px;
  text-align: center;
}
.parallelogram {
  width: 436px;
  height: 650px;
  position: absolute;
  left: 390px;
  top: -1px;
  transform: skew(20deg);
  background-color: #039595de;
  z-index: 0;
  text-align: center;
}
.image1 {
  position: absolute;
  right: 40px;
  top: 50px;
  width: 50%;
  height: 50%;
  z-index: 0;
  animation: move 2.5s ease-in-out;
}

.image2 {
  position: absolute;
  left: 20px;
  top: 210px;
  width: 38%;
  height: 40%;
  z-index: 1;
  animation: moving 2.5s ease-in-out;
}
.reserve__btn {
  background: #fff !important;
  color: #039594 !important;
  border: none;
  outline: none;
}
.reserve__btn a {
  text-decoration: none;
  font-weight: 600;
  color: #039594;
}

.reserve__btn:hover {
  background: #039594;
  color: #fff;
}

@keyframes move {
  from {
    right: -450px;
  }
  to {
    right: 40px;
  }
}
@keyframes moving {
  from {
    left: -400px;
  }
  to {
    left: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .slider__item {
    height: 530px;
    max-width: 100vw;
  }
  .parallelogram{
    width: 250px;
    height: 500px;
    left: 288px;
    top: -1px;
  }
  .hero-content{
    left: 260px;
  }
  .button {
    margin-top: -85px;
    margin-left: -179px ;
  }
  .image2{
    top: 170px;
  }

  .slider__content {
    margin-top: -50px;
  }

  .slider__content h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider__item {
    height: 500px;
  }
  .hero-content {
    position: absolute;
    left: 40px;
    text-align: center;
  }
  .button {
    margin-top: -105px;
    margin-left: -402px ;
    background: #fff !important;
    color: #039594 !important;
    border: none;
    outline: none;
    z-index: 1;
  }
  .parallelogram {
    width: 230px;
    height: 500px;
    left: 78px;
    top: -1px;
  }
  .image1 {
    position: absolute;
    right: -40px;
    top: 75px;
    width: 60%;
    height: 25%;
    z-index: 0;
    animation: move 2s ease-in-out;
  }
  
  .image2 {
    display: none;
  }
  .slider__content h1 {
    font-size: 1.5rem;
  }
  @keyframes move {
    from {
      right: -100px;
    }
    to {
      right: -40px;
    }
  }
}
