@font-face {
  font-family: "Matter";
  src: local("Matter"), url("./assets/fonts/Matter.ttf") format("truetype");
}

@font-face {
  font-family: "Brockmann";
  src: local("Brockmann"),
    url("./assets/fonts/Brockmann.otf") format("opentype");
}

* {
  font-family: "Matter", Georgia, "Times New Roman", Times, serif;
}

/* ========= pre-define css ========= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #039594;
  font-weight: 600;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section__title {
  color: #039594;
  font-weight: 600;
  font-size: 2rem;
}

.section__subtitle {
  color: #f9a826;
  font-weight: 600;
  font-size: 1.2rem;
}

.section__description {
  color: #000000;
  font-size: 0.8rem;
  line-height: 30px;
}

section {
  padding: 50px 0px;
}

.btn {
  padding: 7px 15px;
  background: #039594;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  color: #fff !important;
  background: #03959593;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.877);
  z-index: 1;
}

.loader {
  width: 96px;
  height: 48px;
  display: inline-block;
  position: relative;
  background: #fff;
  border-radius: 48px 48px 0 0;
  box-sizing: border-box;
  overflow: hidden;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 12px;
  border-radius: 24px 24px 0 0;
  background: #039594;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.loader::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  background: #039594;
  transform-origin: 50% 100%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite alternate;
}

@keyframes animloader {
  0% {
    transform: rotate(-70deg);
  }
  10% {
    transform: rotate(-40deg);
  }
  20%,
  45%,
  35% {
    transform: rotate(-10deg);
  }
  40%,
  30% {
    transform: rotate(-30deg);
  }
  50%,
  60% {
    transform: rotate(20deg);
  }
  55%,
  65%,
  75% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(45deg);
  }
  85%,
  90% {
    transform: rotate(50deg);
  }
  95% {
    transform: rotate(75deg);
  }
  100%,
  93% {
    transform: rotate(70deg);
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding: 30px 0px;
  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    font-size: 1.1rem;
  }
}
